/out/production/se2800teamf/wordle/Main.class
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/se2800teamf.iml
/venv
/server/src/venv
/src/venv
/se2800teamf/server/src/venv
/chart_gen/venv