.tab {
    -fx-font : 14px "serief";
    -fx-padding : 10;
    -fx-background-color : #3d3c3a;
    -fx-text-fill : white;
}

.tab:hover {
    -fx-background-color: #ff0000;
}

.pane {
    -fx-background-color: #000000;
}