


.button {
    -fx-font : 14px "serief";  
    -fx-padding : 10;  
    -fx-background-color : #CCFF99;

}

.button:hover {
    -fx-background-color: rgb(156, 60, 61);
}


.correct-position-letter-tf {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-align : center;

}

.correct-letter-tf {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #ffc40c;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-align : center;

}
.winner-dialog {

    -fx-background-color : #008000;

}

.wrong-letter-tf {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #cd5c5c;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-align : center;

}

.text-field {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #1e3d59;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-align : center;



}

.label {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #1e3d59;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-alignment : center;
    -fx-alignment : center;

}
.correct-position-letter-label {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #008000;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-alignment : center;
    -fx-alignment : center;

}
.correct-letter-label {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #ffc40c;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-alignment : center;
    -fx-alignment : center;

}
.wrong-letter-label {
    -fx-font : 20px "serief";
    -fx-border : black;
    -fx-padding : 10;
    -fx-width : 100px;
    -fx-height : 100px;
    -fx-background-radius: 10px;
    -fx-background-color: #cd5c5c;
    -fx-text-fill: white;
    -fx-border-radius: 2;
    -fx-text-alignment : center;
    -fx-alignment : center;

}

.pane {

    -fx-background-color: #8fbc8f;
}

.keyBoardGrid {
    -fx-alignment : center;
}